<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tipoCancha">
            <h2><span jhiTranslate="paizounApp.tipoCancha.detail.title">Tipo Cancha</span> {{ tipoCancha.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="paizounApp.tipoCancha.nombreTipo">Nombre Tipo</span></dt>
                <dd>
                    <span>{{ tipoCancha.nombreTipo }}</span>
                </dd>
                <dt><span jhiTranslate="paizounApp.tipoCancha.cantidadJugadores">Cantidad Jugadores</span></dt>
                <dd>
                    <span>{{ tipoCancha.cantidadJugadores }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tipo-cancha', tipoCancha.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
