<div>
    <h2 id="page-heading">
        <span jhiTranslate="paizounApp.partido.home.title">Partidos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-partido" [routerLink]="['/partido/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="paizounApp.partido.home.createLabel">
            Create a new Partido
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="partidos?.length === 0">
        <span jhiTranslate="paizounApp.partido.home.notFound">No partidos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="partidos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fechaHora"><span jhiTranslate="paizounApp.partido.fechaHora">Fecha Hora</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="finalizado"><span jhiTranslate="paizounApp.partido.finalizado">Finalizado</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="invitacionPartido.id"><span jhiTranslate="paizounApp.partido.invitacionPartido">Invitacion Partido</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="estadoPartido.id"><span jhiTranslate="paizounApp.partido.estadoPartido">Estado Partido</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let partido of partidos ;trackBy: trackId">
                    <td><a [routerLink]="['/partido', partido.id, 'view']">{{ partido.id }}</a></td>
                    <td>{{ partido.fechaHora | date:'medium' }}</td>
                    <td>{{ partido.finalizado }}</td>
                    <td>
                        <div *ngIf="partido.invitacionPartido">
                            <a [routerLink]="['/invitacion-partido', partido.invitacionPartido?.id, 'view']" >{{ partido.invitacionPartido?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="partido.estadoPartido">
                            <a [routerLink]="['/estado-partido', partido.estadoPartido?.id, 'view']" >{{ partido.estadoPartido?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/partido', partido.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/partido', partido.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(partido)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="partidos?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
